.header {
    height: var(--h-header);
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    z-index: 300;
    @include transition(var(--transition));
    &.is-changebg {
        background-color: var(--blue-dark);
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
        height: 80px;
    }
    &.is-zIndex {
        z-index: 1000;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        &-logo {
            @include middle(true);
        }
        &-nav {
            margin-left: 64px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 66px;
                background-color: var(--blue-box);
                top: 50%;
                transform: translateY(-50%);
                left: -25px;
            }
            .blur {
                display: none;
                @include middle;
                &.is-blur {
                    display: block;
                }
            }
            .menu {
                display: flex;
                li {
                    a {
                        font-size: var(--text-menu);
                        line-height: var(--lh-menu);
                        letter-spacing: var(--spacing-menu);
                        padding: var(--pd-menu);
                        font-family: var(--font-medium);
                        text-transform: uppercase;
                        position: relative;
                        display: inline-block;
                        &::after {
                            content: '';
                            position: absolute;
                            width: calc(100% - var(--pd-lr) * 2);
                            height: 1px;
                            background-color: var(--white-color);
                            left: var(--pd-lr);
                            bottom: 8px;
                            @include transform-origin(right);
                            @include transform(scaleX(0));
                            @include transition(var(--transition) transform);
                        }
                        &:hover::after {
                            @include transform-origin(left);
                            @include transform(scaleX(1));
                        }
                        &.active {
                            &::after {
                                @include transform(scaleX(1));
                                @include transform-origin(left);
                            }
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    &__signup {
        height: var(--h-btn-header);
    }
    &__hambuger {
        display: none;
        @include size(45px, 45px, true);
        cursor: pointer;
        background-color: var(--blue-light);
        z-index: 2;
        flex-shrink: 0;
        span {
            position: relative;
            width: 25px;
            height: 2px;
            background-color: var(--white-color);
            cursor: pointer;
            display: inline-block;
            @include transition(var(--transition));
            &::after,
            &::before {
                content: '';
                position: absolute;
                width: inherit;
                height: inherit;
                background-color: var(--white-color);
                @include transition(var(--transition));
            }
            &::after {
                top: var(--tb-hambuger);
            }
            &::before {
                bottom: var(--tb-hambuger);
            }
            &.is-active {
                background: none;
                &::after {
                    transform: translateY(calc(var(--tb-hambuger) * -1)) rotate(45deg);
                }
                &::before {
                    transform: translateY(var(--tb-hambuger)) rotate(-45deg);
                }
            }
        }
    }

    // reponsive menu
    @include sm {
        &__left {
            &-logo {
                @include middle(true);
                z-index: 100;
            }
            &-nav {
                width: 100%;
                height: 100vh;
                @include middle(true);
                background: var(--blue-color);
                position: absolute;
                top: 0;
                left: 0;
                margin-left: 0;
                opacity: 0;
                visibility: hidden;
                @include transition(var(--transition));
                &.is-openmenu {
                    opacity: 1;
                    visibility: visible;
                }
                .menu {
                    display: inline;
                    text-align: center;
                    li {
                        &:last-child {
                            display: block;
                        }
                        a {
                            &::after {
                                bottom: 20px;
                            }
                        }
                        &:last-child a {
                            margin-top: 20px;
                            height: var(--h-btn);
                            padding: 0 78px;
                            font-family: var(--font-bold);
                            @include middle(true);
                            font-size: var(--fz-btn);
                            line-height: var(--lh-btn);
                            letter-spacing: var(--spacing-btn);
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &__signup {
            display: none;
        }
        &__hambuger {
            display: block;
            @include middle(true);
        }
    }
}